PORT=
MONGO_URI=
NODE_ENV=

CLIENT_URL=
SERVER_URL=


JWT_SECRET=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
MAIL_FROM_NAME=SupportHub

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=